@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body,html{
    margin:0;
    padding: 0;
    background-color:#FCFBFB;
}
body {

  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.ant-btn-primary{
    background: #f98a31!important;
    border-color: #D97220!important;
    transition: 0.6s;
}
.ant-btn-primary:hover{
    background:  #D97220!important;
    border-color:#f98a31!important;
}
